.App {
  text-align: center;
}

.header {
  display: grid;
  text-align: center;
  height: 15vh;
  background-color:  rgb(224, 210, 210);
}

.search {
  text-align: center;
  background-color: rgb(224, 210, 210);
}

.container {
  background-color: rgb(224, 210, 210);
}

.main {
display: grid;
 grid-template-columns: repeat(2, 50%);
 background-color: rgb(224, 210, 210);
 justify-items: center;
 margin: 0;

}

.header {
  display: flex;
  justify-content: center;
}

.Groceries, .Basket {
  text-align: center;
  color: rgb(0, 0, 0);
  align-content: center;
}

.listItem{
 color: transparent;
}

.listItem:hover {
  background-color: rgb(178, 183, 189);
}

.footer {
  display: grid;
  background-color: black;
  height: 10vh;
  color: white;
  text-align: center;
  justify-content: center;
  align-content: center;
}


